<a href="https://colab.research.google.com/github/Kruthi-trip/Data_Engineering_2025/blob/main/Day_3_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

# Introduction to Lists

- Lists are ordered, mutable collections of items.
- They can contain items of different data types.

In [2]:
l = [1,2,3,4,True,'string',]
type(l)

list

In [3]:
l[5] = 'new element'
print(l)

[1, 2, 3, 4, True, 'new element']

## Outline:

1. Introductio to lists
2. Creating lists
3. Accessing list elements
4. Modifiying list elements
5. List methods
6. Slicing lists
7. Iterating over lists
8. List comprehensions
9. Nested lists
10. Practical examples and common errors

In [4]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'guava']
type(fruits)

list

In [5]:
print(fruits[4])
print(fruits[3])
print(fruits[0])
print(fruits[-4])

guava
kiwi
apple
banana

## Slicing

In [6]:
print(fruits[1:4])

['banana', 'cherry', 'kiwi']

In [7]:
print(fruits[1:])

['banana', 'cherry', 'kiwi', 'guava']

## Modifying

In [8]:
fruits[1] = 'Watermelon'
print(fruits)

['apple', 'Watermelon', 'cherry', 'kiwi', 'guava']

# List methods

Python has a set of built-in methods that you can use on lists.

- append(): Adds an element to the end of the list.
- copy(): Returns a shallow copy of the list.
- clear(): Removes all elements from the list.
- count(): Returns the number of times a specified element appears in the list.
- extend(): Adds elements from another list to the end of the current list.
- index(): Returns the index of the first occurrence of a specified element.
- insert(): Inserts an element at a specified position.
- pop(): Removes and returns the element at the specified position (or the last element if no index is specified).
- remove(): Removes the first occurrence of a specified element.
- reverse(): Reverses the order of the elements in the list.
- sort(): Sorts the list in ascending order (by default).

In [9]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'guava']
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'guava']

## Adding an item

In [10]:
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'guava', 'orange']

## Inserting an item

In [11]:
fruits.insert(2, "watermelon")
print(fruits)

['apple', 'banana', 'watermelon', 'cherry', 'kiwi', 'guava', 'orange']

## Remove
- removes the first occurance of an item

In [12]:
fruits.remove("banana")
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'guava', 'orange']

## Pop
- will pop the last element and show that as the answer

In [13]:
fruits.pop()

'orange'

In [14]:
fruits.pop()

'guava'

In [15]:
print(fruits)

popper_fruit = fruits.pop()
print(popper_fruit)
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi']
kiwi
['apple', 'watermelon', 'cherry']

## Finding the index

In [16]:
index = fruits.index("cherry")
print(index)

2

In [17]:
fruits.insert(2, "banana")
print(fruits.count("banana"))

1

## Sorting

In [18]:
fruits.sort()
fruits

['apple', 'banana', 'cherry', 'watermelon']

## Reversing the order

In [19]:
nums = [19, 20, 66, 89, 7]
nums.reverse()
print(nums)

print(nums[::-1])

[7, 89, 66, 20, 19]
[19, 20, 66, 89, 7]

## Erase all items from the list

In [20]:
fruits.clear()
fruits

[]

## Slicing

print ( numbers [ start : stop : step ] )

In [21]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:7])
print(numbers[2:])
print(numbers[:7])
print(numbers[::2])

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]
[1, 3, 5, 7, 9]

## Iterate over list

In [22]:
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [23]:
fruits = ["apple", "banana", "cherry", "kiwi", "guava"]
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'guava']

In [24]:
for fruit in fruits:
  print(fruit)

apple
banana
cherry
kiwi
guava

## Numbering the list

In [25]:
counter = 1

for fruit in fruits:
  print(counter, fruit)
  counter = counter + 1
#      or
  # counter += 1

1 apple
2 banana
3 cherry
4 kiwi
5 guava

In [26]:
for index, fruit in enumerate(fruits):
  print(index, fruit)

0 apple
1 banana
2 cherry
3 kiwi
4 guava

## List comprehensions

Basic Syntax [ expression for item in iterable ]

With Conditional Logic [ expression for item in iterable if condition ]

Nested List Compressions [ expressions for item1 in iterable1 for item2 in iterable2 ]

making a list and then inserting it into an empty list

In [27]:
squares = []
for num in range(10):
  squares.append(num**2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

directly inserting the new list into the empty list

In [28]:
squares2 = [num**2 for num in range(11)]

print(squares2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
[x**2 for x in range (11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Nested List Compressions

In [30]:
l1 = [1, 2, 3, 4]
l2 = [1, 2, 3, 4]

[i + j for i in l1 for j in l2]

[2, 3, 4, 5, 3, 4, 5, 6, 4, 5, 6, 7, 5, 6, 7, 8]

In [31]:
### List comprehension wit condition
lst = []
for i in range(10):
  if i % 2 == 0:
    lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [32]:
## same as above but in a single line
[num for num in range(10) if num % 2 == 0]

[0, 2, 4, 6, 8]

In [33]:
even_numbers = [num for num in range(20) if num % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [34]:
lst1 = [1, 2, 3, 4]
lst2 = ['a', 'b', 'c', 'd']

result = []
for i in lst1:
  for j in lst2:
    result.append((i, j))
print(result)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [35]:
r2 = [(i,j) for i in lst1 for j in lst2 ]
print(r2)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [36]:
words = ["hello", "world", "kruthi", "tripuraneni"]

lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 11]

In [37]:
len("something")

9

# Tuples

Outline:
1. Introduction to tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors

## Introduction to tuples

Tuples are ordered collection of items that are immutable. They are similar to lists, but their immutability makes then different.

## Creating a tuple

In [38]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [39]:
type(numbers)

list

In [40]:
numbers = tuple(numbers)
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [41]:
list((1, 2, 3, 4, 5, 6))

[1, 2, 3, 4, 5, 6]

## Mixed tuples

In [42]:
mixed_tuples = (1, "Hello World", 3.14, True)
print(mixed_tuples)

(1, 'Hello World', 3.14, True)

## Accessing tuple elements

In [43]:
numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [44]:
print(numbers[2])
print(numbers[-1])

3
10

In [45]:
numbers[0:4]

(1, 2, 3, 4)

In [46]:
numbers[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

## Tuple operations

In [47]:
concatenation_tuple = numbers + mixed_tuples
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 'Hello World', 3.14, True)

In [48]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]

l1.append(l2)
l1

[1, 2, 3, [4, 5, 6]]

In [49]:
numbers * 2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## Immutable nature of a tuple

tuples are immutable, meaning they cannot be changed once assigned

In [50]:
lst = [1, 2, 3, 4, 5]
print(lst)

lst[1] = "Kruthi"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Kruthi', 3, 4, 5]

In [51]:
numbers
print(type(numbers))

<class 'tuple'>

In [52]:
numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [53]:
 #cannot be done for a tuple
numbers[1] = 'Kruthi'

TypeError: 'tuple' object does not support item assignment

# Tuple Methods
Python has two built-in methods that you can use on tuples.

- count()	- Returns the number of times a specified value occurs in a tuple
- index() -	Searches the tuple for a specified value and returns the position of where it was found

In [54]:
# Tuple methods

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 1, 1, 'Kruthi')
print(numbers.count(1))
print(numbers.index('Kruthi'))

4
13

In [55]:
a = 10, 20
type(a)

tuple

## Packing and unpacking a tuple

### Packing

In [56]:
Packed_tuple = 1, "Hello", 3.14
print(Packed_tuple)

(1, 'Hello', 3.14)

### Unpacking tuple

In [57]:
a, b, c = Packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

### Unpacking with *

In [58]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

first, *middle, last = numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

## Nested tuple

In [59]:
# nested list
lst = [[1, 2, 3, 4],
        [6, 7, 8, 9],
          [1,"Hello", 3.14, "c"]
      ]
lst[2][1]

'Hello'

In [60]:
# nested list
lst = [[1, 2, 3, 4],
        [6, 7, 8, 9],
          [1,"Hello", 3.14, "c"]
      ]
lst[2][0:3]

[1, 'Hello', 3.14]

## Nested Tuple

### Accessing the element inside a tuple

In [61]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

print(nested_tuple[0][1])
print(nested_tuple[1][2])
print(nested_tuple[2][0])
print(nested_tuple[0])

2
c
True
(1, 2, 3)

# Sets
Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [62]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [63]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [64]:
my_set = set([1, 2, 3, 4, 5, 6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [65]:
my_empty_set = set([1, 2, 3, 6, 5, 4, 5, 6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

## Basit set operations
### Adding and removing elements

- we cannot add duplicates

In [66]:
print(my_set)
my_set.add(7)
print(my_set)
my_set.add(8)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}

## Remove the elements from the set

In [67]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7, 8}

In [68]:
## pop method
removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7, 8}

## Set membership test

In [69]:
my_set = {1, 2, 3, 4, 5}
print(3 in my_set)
print(10 in my_set)

True
False

## mathematical operation

### Union:
this will merge the two sets but will remove duplicates

In [70]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

### Union
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## Intersection

this will print just the common elements in both the sets

In [71]:
intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5, 6}

![image.png]()

## Difference

In [72]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

print(set1.difference(set2))
# set1 - set2

{1, 2, 3}

## Symetric difference

this exclueds the common elements and gives the rest

In [73]:
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

## is subset

In [74]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

## Counting unique words in text

In [75]:
text = "In this class we are discussing about sets"
text.split()

words = text.split()

# converting list of words to set to get unique words

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'sets', 'this', 'are', 'discussing', 'we', 'class', 'about', 'In'}
8

# Dictionaries
### Outline:

1. Introduction to Dictionaries
2. Creating Dictionaries
3. Accessing Dictionary Elements
4. Modifying Dictionary Elements
5. Dictionary Methods
6. Iterating Over Dictionaries
7. Nested Dictionaries
8. Dictionary Comprehensions
9. Practical Examples and Common Errors

# Introduction to Dictionaries
Dictionaries are unordered collections of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.

## Creating a sictionary

In [76]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [77]:
empty_dict = dict()
empty_dict

{}

In [78]:
d = {'key':'value'}
type(d)

dict

In [79]:
student = {"name":"Kruthi", "age":27, "grade":"B"}
print(student)
print(type(student))

{'name': 'Kruthi', 'age': 27, 'grade': 'B'}
<class 'dict'>

## accesing elements from a dictionary

In [80]:
print(student['grade'])
print(student['age'])

B
27

## accessing using get() method

In [81]:
print(student.get('grade'))

B

In [82]:
print(student.get('last_name',"Not Available"))

Not Available

## Modifying dictionary elements

doctionary are mutable, so you can add, update or delete elements

In [83]:
print(student)

{'name': 'Kruthi', 'age': 27, 'grade': 'B'}

In [84]:
student["age"] = 30  ##update value for the key
print(student)
student["address"] = "India" ## added a new key and value
print(student)

{'name': 'Kruthi', 'age': 30, 'grade': 'B'}
{'name': 'Kruthi', 'age': 30, 'grade': 'B', 'address': 'India'}

In [85]:
del student['grade'] ## delete key and value
print(student)

{'name': 'Kruthi', 'age': 30, 'address': 'India'}

## Dictionary methods

In [86]:
keys = student.keys() ## get all the keys
print(keys)
values = student.values() ## get all the values
print(values)

dict_keys(['name', 'age', 'address'])
dict_values(['Kruthi', 30, 'India'])

In [87]:
items = student.items() ## get all key value pairs
print(items)

dict_items([('name', 'Kruthi'), ('age', 30), ('address', 'India')])

In [88]:
for key, value in student.items():
  print(key, value)

name Kruthi
age 30
address India

# Nested dictionaries

In [89]:
students = {
    "student1":{"name":"Kruthi","age":27},
    "student2":{"name":"Abhi","age":24}
}
print(students)

{'student1': {'name': 'Kruthi', 'age': 27}, 'student2': {'name': 'Abhi', 'age': 24}}

# Dictionary comprehension

In [90]:
squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## practical examples

In [91]:
## USe a dictionary to count he frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [92]:
def add(a,b):
  return a+b

In [93]:
add(4,8)

12