<a href="https://colab.research.google.com/github/Kruthi-trip/Data_Engineering_2025/blob/main/Day_4_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions
## Defining functions

In [2]:
def add(a,b):
  return a+b

In [3]:
add(54,23)

77

In [4]:
def power(num, pow):
  return num**pow

In [5]:
power(5, 2)

25

# Functions in Python
### Outline:

1. Introduction to Functions
2. Defining Functions
3. Calling Functions
4. Function Parameters
5. Default Parameters
6. Variable-Length Arguments
7. Return Statement

# Introduction to Functions
### Definition:

A function is a block of code that performs a specific task. Functions help in organizing code, reusing code, and improving readability.

In [6]:
'''
## syntax

def function_name(parameters):
    """Docstring"""
    # Function body
    return expression
'''

'\n## syntax\n\ndef function_name(parameters):\n    """Docstring"""\n    # Function body\n    return expression\n'

# Why Functions

In [7]:
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [8]:
def even_or_odd(num):
  """
  This function finds even or odd
  """
  if num%2==0:
    print("the number is even")
  else:
    print("the number is odd")

In [9]:
even_or_odd(34)

the number is even

## function with multiple parameters

In [10]:
def add(a,b):
    return a+b

result=add(2,4)
print(result)

6

## Default Parameters

In [11]:
def greet(name):
    print(f"Hello {name}, Welcome To the paradise")

greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [12]:
def greet(name='User'):
    print(f"Hello {name}, Welcome To the paradise")

greet()

Hello User, Welcome To the paradise

In [13]:
def greet(name):
    print(f"Hello {name}, Welcome to the paradise!")

greet('Kruthi')

Hello Kruthi, Welcome to the paradise!

In [14]:
def greet(name, age):
    print(f"Hello {name}, Welcome to the paradise! You are {age} years old.")

In [15]:
greet("Kruthi", 27)

Hello Kruthi, Welcome to the paradise! You are 27 years old.

### Variable Length Arguments
## Positional And Keywords arguments

In [16]:
def print_numbers(*args):
  print(type(args))
  print(args)
  for number in args:
      print(number)


print_numbers(1,2,3,4,5,6,7,8,"Nikhil")

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 'Nikhil')
1
2
3
4
5
6
7
8
Nikhil

In [17]:
def add(*nums):
  return sum(nums)

add(1,2,3,4,5)

15

This is where *args can be really useful, because it allows you to pass a
varying number of positional arguments. Take the following example:

In [18]:
def my_sum(*args):
  print(type(args))
  result = 0
  # Iterating over the Python args tuple
  for x in args:
      result += x
  return result

print(my_sum(1, 2, 3))

<class 'tuple'>
6

### Keywords Arguments

In [19]:
def print_details(**kwargs):
  print(type(kwargs))
  print(kwargs)
  for key, value in kwargs.items():
    print(f"{key}: {value}")


print_details(name="Kruthi", age=27, city="Hyderabad")

<class 'dict'>
{'name': 'Kruthi', 'age': 27, 'city': 'Hyderabad'}
name: Kruthi
age: 27
city: Hyderabad

In [20]:
def print_details(**details):
    for key, value in details.items():
        print(f"{key}: {value}")

print_details()

In [21]:
student_details = {
    "name": "Kruthi",
    "age": 27,
    "city": "Hyderabad"
}

print_details(**student_details)

name: Kruthi
age: 27
city: Hyderabad

## Side Note on :Unpacking With the Asterisk Operators: * & **
The unpacking operators are operators that unpack the values from iterable objects in Python. The single asterisk operator * can be used on any iterable that Python provides, while the double asterisk operator ** can only be used on dictionaries.

When you use the * operator to unpack a list and pass arguments to a function, it’s exactly as though you’re passing every single argument alone. This means that you can use multiple unpacking operators to get values from several lists and pass them all to a single function.

In [22]:
def my_sum(*args):
    result = 0
    for x in args:
        result += x
    return result

list1 = [1, 2, 3]
list2 = [4, 5]
list3 = [6, 7, 8, 9]

print(my_sum(*list1, *list2, *list3))

45

In [23]:
my_list = [1, 2, 3, 4, 5, 6]

a, *b, c = my_list # The first variable is assigned to a, the last to c, and all other values are packed into a new list b.

print(a)
print(b)
print(c)

1
[2, 3, 4, 5]
6

In [24]:
my_first_list = [1, 2, 3]
my_second_list = [4, 5, 6]
my_merged_list = [*my_first_list, *my_second_list] # The unpacking operator * is prepended to both my_first_list and my_second_list.

print(my_merged_list)

[1, 2, 3, 4, 5, 6]

In [25]:
## You can even merge two different dictionaries by using the unpacking operator **:
my_first_dict = {"A": 1, "B": 2}
my_second_dict = {"C": 3, "D": 4}
my_merged_dict = {**my_first_dict, **my_second_dict}

print(my_merged_dict)

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

# Functions Examples
### Example 1: Temperature Conversion

## converts temperature between Celsius and Fahrenheit

In [26]:
def convert_temperature(temp,unit):
    """This function converts temperature between Celsius and Fahrenheit"""
    if unit=='C':
        return temp * 9/5 + 32  ## Celsius To Fahrenheit
    elif unit=="F":
        return (temp-32)*5/9 ## Fahrenheit to celsius
    else:
        return None

In [27]:
convert_temperature(75,"F")

23.88888888888889

## Example 2: Password Strength Checker

In [28]:

def is_strong_password(password):
    """This function checks if the password is strong or not"""
    pass

## Example 3: Check IF a String Is Palindrome

In [29]:
def is_palindrome(s):
  pass

## Lambda Functions in Python
Lambda functions are small anonymous functions defined using the lambda keyword. They can have any number of arguments but only one expression. They are commonly used for short operations or as arguments to higher-order functions.

There can only be one expressin in lambda function, no multiple functions are possible

In [30]:
#Syntax
'''
lambda arguments: expression

'''

'\nlambda arguments: expression\n\n'

In [31]:
def addition(a,b):
    return a+b

In [32]:
addition(2,3)

5

In [33]:
add = lambda a,b : a+b

In [34]:
add(6,9)

15

In [35]:
power = lambda x,y: x**y

power(9,2)

81

In [36]:
type(addition)

function

In [37]:
addition=lambda a,b:a+b
print(type(addition))
print(addition(5,6))

<class 'function'>
11

## determining even or odd using lambda

In [38]:
def is_even(num):
    if num%2==0:
        return True
    else:
      return False
is_even(31)

False

In [39]:
even1=lambda num:num%2==0
even1(31)

False

In [40]:
addition1=lambda x,y,z:x+y+z
addition1(12,13,14)

39

In [41]:
addition1=lambda lst:sum(lst)
addition1([12,13,14])

39

In [42]:
nums = [1,2,3,4,5,6]
evens = [i for i in nums if i%2==0]
evens

[2, 4, 6]

## element wise operations
 adding values based on index and zip() function does that

In [43]:
a = [1,2,3,4,5]
b = [1,2,3,4,5]

c = [i+j for i,j in zip(a,b)]
c

[2, 4, 6, 8, 10]

In [44]:
result = []
# This ensures that the loop only iterates as
# many times as the shorter list has elements,
# preventing an IndexError if the lists are of different lengths.
for i in range(min(len(a), len(b))):
  result.append(a[i]+b[i])
result

[2, 4, 6, 8, 10]

## The map() Function in Python
The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [45]:
def square(x):
    return x*x

square(10)

100

In [46]:
numbers=[1,2,3,4,5,6,7,8]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [47]:
## map() to convert a list of strings to integers
# Use map to convert strings to integers
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))


print(int_numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

## changing to upper case

In [48]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

## The filter() Function in Python
The filter() function constructs an iterator from elements of an iterable for which a function returns true. It is used to filter out items from a list (or any other iterable) based on a condition.

In [49]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

In [50]:
even(45)

False

In [51]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]

list(filter(even, lst))

[2, 4, 6, 8, 10, 12]

## Filter with a lambda function and multiple conditions

In [52]:
numbers=[1,2,3,4,5,6,7,8,9]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8]

# Homework

In [53]:
## learn reduce function in python
# First, import the reduce function from the functools module
from functools import reduce

# Define a list of numbers
numbers = [1, 2, 3, 4, 5]

# Define a function to add two numbers
def add_two_numbers(x, y):
  return x + y

# Use reduce to apply the add_two_numbers function cumulatively
# to the numbers list. The result will be the sum of all elements.
sum_of_numbers = reduce(add_two_numbers, numbers)

# Print the result
print(f"The sum of the numbers in the list is: {sum_of_numbers}")

The sum of the numbers in the list is: 15

# File Operation- Read And Write Files
File handling is a crucial part of any programming language. Python provides built-in functions and methods to read from and write to files, both text and binary. This lesson will cover the basics of file handling, including reading and writing text files and binary files.

In [54]:
file = open("/opt/google/drive/drive-filter.py", 'r')
content =file.read()
print(content)
file.close()

"""Picks error messages out of drive logs for surfacing to users."""

import json
import re
import sys

if len(sys.argv) != 1:
  print(f'Usage: {sys.argv[0]} (send drive logs on stdin)')
  sys.exit(1)

# LINT.IfChange(drivetimeout)
timeout_pattern = 'QueryManager timed out'
# LINT.ThenChange()

log_prefix_re = re.compile(
    r'^([0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{3}Z[IWEF]) '
)

suppressed_errors = (
    # Internal errors, should be silently retried inside DriveFS.
    'internalError Internal Error',
    'conflict File ID already exists',
    'deadlineExceeded A deadline was exceeded',
    'transientError Transient failure',

    # User-triggerable & surfaced as specific errors (EACCESS, ENOENT, etc).
    'conditionNotMet Precondition Failed',
    'authError Invalid Credentials',
    'forbidden File not mutable',
    'forbidden Insufficient permissions for this file',
    'notFound File not found',
)

acc = ''
last_stamp = ''
for line in sys.stdin:
  if not acc:
    if timeout_pattern in line:
      print(line, end='', flush=True)
      continue
    maybe_stamp = log_prefix_re.match(line)
    if maybe_stamp:
      last_stamp = maybe_stamp.group(1)
  # pylint: disable=line-too-long
  # An example logged value is:
  # 2021-03-23T15:58:56.231ZE [201:core_117860867942433405545] drive_v2_cloud_store.cc:424242:FAKE FAKE FAKE
  # {
  #  "error": {
  #   "errors": [
  #    {
  #     "domain": "usageLimits",
  #     "reason": "quotaExceeded",
  #     "message": "The download quota for this file has been exceeded",
  #     "locationType": "other",
  #     "location": "quota.download"
  #    }
  #   ],
  #   "code": 403,
  #   "message": "The download quota for this file has been exceeded"
  #  }
  # }
  # Or
  # 2021-03-23T15:58:56.231ZE [201:core_117860867942433405545] drive_v2_cloud_store_no_apiary.cc:3593:DumpToLog Response body 0x56f3ff6554b8: {
  #  "error": {
  #   "errors": [
  #    {
  #     "domain": "usageLimits",
  #     "reason": "quotaExceeded",
  #     "message": "The download quota for this file has been exceeded",
  #     "locationType": "other",
  #     "loca...
  # (with truncation)
  # pylint: enable=line-too-long

  def emit(r, m):
    if r and m:
      msg = f'{r} {m}'
      if not any(x in msg for x in suppressed_errors):
        print(f'{last_stamp} {msg}', flush=True)

  if line.rstrip() == '{' or ('DumpToLog Response body' in line and
                              line.rstrip().endswith('{')):
    acc = '{'
  elif acc:
    acc += line
  if acc and line.rstrip().endswith('...'):  # b/183502229
    reason, message = '', ''
    for l in acc.split('\n'):
      if '"reason":' in l:
        reason = l.split(':', 2)[1].strip(' \t\n\r,"')
      if '"message":' in l:
        message = l.split(':', 2)[1].strip(' \t\n\r,"')
    emit(reason, message)
    acc = ''
  if acc and line.rstrip() == '}':
    try:
      parsed = json.loads(acc)
    except json.JSONDecodeError:
      acc = ''
      continue
    try:
      e = parsed['error']['errors'][0]
    except:  # pylint: disable=bare-except
      acc = ''
      continue
    emit(e['reason'], e['message'])
    acc = ''

An absolute path provides a complete, unambiguous path from the root of the file system to the target, while a relative path specifies a location relative to the current working directory.

# current working directory

In [55]:
import os

print(os.getcwd())

/content

In [56]:
file = open("sample_data/README.md", 'r')
content =file.read()
print(content)
file.close()

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://docs.google.com/document/d/e/2PACX-1vRhYtsvc5eOR2FWNCwaBiKL6suIOrxJig8LcSBbmCbyYsayia_DvPOOBlXZ4CAlQ5nlDD8kTaIDRwrN/pub

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

In [57]:
with open("sample_data/README.md", 'r') as file:
  print(file.read())

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://docs.google.com/document/d/e/2PACX-1vRhYtsvc5eOR2FWNCwaBiKL6suIOrxJig8LcSBbmCbyYsayia_DvPOOBlXZ4CAlQ5nlDD8kTaIDRwrN/pub

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

## Read a file line by line

In [58]:
with open("sample_data/README.md", 'r') as file:
  for line in file:
    print(line.strip())

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
Census; more information is available at:
https://docs.google.com/document/d/e/2PACX-1vRhYtsvc5eOR2FWNCwaBiKL6suIOrxJig8LcSBbmCbyYsayia_DvPOOBlXZ4CAlQ5nlDD8kTaIDRwrN/pub

*   `mnist_*.csv` is a small sample of the
[MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
[Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
was originally described in

Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
Statistician. 27 (1): 17-21. JSTOR 2682899.

and our copy was prepared by the
[vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

### for single line only

In [59]:
with open("sample_data/README.md", 'r') as file:
  print(file.readline())

This directory includes a few sample datasets to get you started.

## creating a file

In [60]:
with open("sample_data/README27.md", 'r') as file:
  print(file.readline())

FileNotFoundError: [Errno 2] No such file or directory: 'sample_data/README27.md'

## Writing a file(Overwriting)

- 'w' is the mode, it is used to write
- if the file is not present, it will create one
- if the file is already there, it will overwrite it

In [61]:


with open('example.txt','w') as file:
    file.write('Hello World!\n')
    file.write('this is a new line.')

## Write a file(without Overwriting)

- \n means next line

In [62]:
with open('example.txt','a') as file:
    file.write("\nAppend operation taking place!\n")

## Binary Files

### Writing to a binary file

In [63]:
data = b'\x00\x01\x02\x03\x04'
with open('example.bin', 'wb') as file:
    file.write(data)

### Reading a binary file

In [64]:
with open('example.bin', 'rb') as file:
    content = file.read()
    print(content)

b'\x00\x01\x02\x03\x04'

## Read the content froma  source text fiile and write to a destination text file
### Copying a text file

In [65]:
with open('example.txt', 'r') as source_file:
    content = source_file.read()

with open('destination.txt', 'w') as destination_file:
    destination_file.write(content)

In [67]:
with open('example.txt', 'r') as file:
        lines = file.readlines()
print(type(lines))
len(lines)
list((len(line.split()) for line in lines))

<class 'list'>

[2, 5, 4]

## Read a text file and count the number of lines, words, and characters.


### Counting lines, words, and characters in a text file

In [68]:

def count_text_file(file_path):
    with open(file_path, 'r') as file:
        lines = file.readlines()
        line_count = len(lines)
        word_count = sum(len(line.split()) for line in lines)
        char_count = sum(len(line) for line in lines)
    return line_count, word_count, char_count

file_path = 'example.txt'
lines, words, characters = count_text_file(file_path)
print(f'Lines: {lines}, Words: {words}, Characters: {characters}')

Lines: 3, Words: 11, Characters: 64