<a href="https://colab.research.google.com/github/Kruthi-trip/Data_Engineering_2025/blob/main/Day_2_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python String Formatting

String formatting in Python is a powerful way to create clean and readable output, especially when working with numbers, dates, and other data types. Python provides several methods for string formatting we will explore f-string (formatted string literals)

In [ ]:
# example1
num1 = 10
num2 = 20

print("The first number is", num1, "and the second number is", num2)

The first number is 10 and the second number is 20

In [ ]:
#example2
print(f"The first number is {num1} and the second number is {num2}")

The first number is 10 and the second number is 20

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print(f"Hello, my name is {name} and I am {age}")

Enter your name: Kruthi
Enter your age: 27
Hello, my name is Kruthi and I am 27

## 2. Number formatting in f-strings

When dealing with numbers, f-strings allow precise contro over how they are formatted. You can specify the number of decimal places, padding, alignment, and more. This is controlled by the format specifiers.

### 2.1 Integer Formatting
Use the d format specifier to format integers.

- This basically does not print the decimals in the output

In [ ]:
number = 1234
print(f"Integer: {number:d}")

Integer: 1234

### 2.2 Floating-point Formatting

Use the f format specifier for floating-point numbers. You can control the number of decimal places.

In [ ]:
pi = 3.141592653589793
print(f"Pi rounded to 2 decimal places is : {pi:.2f}")

# ':.2f' rounds the number to 2 decimal places

Pi rounded to 2 decimal places is : 3.14

### 2.3 Scientific Notation

Use the e format specifier for scientific notation.

In [ ]:
large_number = 1234567
print(f"Scientific Notation: {large_number:.2e}")

Scientific Notation: 1.23e+06

### 2.4 General Format
The g specifier is a general format specifier that uses either fixed-point or scientific notation, depending on the size of the number and the precesion.

In [ ]:
value = 1234567.89
print(f"General Format: {value:.2g}")

General Format: 1.2e+06

## 3. Controlling the width and Alignment

You can specify the width of the formatted output and control alignment (left, right, or center). This is useful when you need to align data in tables or output that requires specific formatting.

### 3.1 Setting Width
The width specifies the minimum number of characters that the formatted output should occupy. If the number is smaller than the specified width, spaces will be added.

In [ ]:
number = 42
print(f"Width of 10: {number:10d}")

Width of 10:         42

### 3.2 Alignment

You can align the formatted value within the available width using the following options:
- ' <: ' Left aligns the value
- ' >: ' Right aligns the value
- ' ^: ' Centers the value

In [ ]:
number = 42
print(f"Left Alignment: {number:<10d}")
print(f"Right Alignment: {number:>10d}")
print(f"Center Alignment: {number:^10d}")

Left Alignment: 42
Right Alignment:         42
Center Alignment:     42

 ### 3.3 Padding with Zeroes
 You can pad numbers with leaading zeroes using the 0 specifier

In [ ]:
number = 42
print(f"Zero-padded: {number:05d}")

Zero-padded: 00042

## 4. Sign Formatting
You can control how the sign (positive or negative) is displayed with the following options:
- ' +: ' Always displays the sign (positive or negative)
- ' -: ' Displays the sign only for negative numbers (default)
- ' : ' displays a space for positive numbers (optional)

In [ ]:
positive_number = 42
negative_number = -42

print(f"Positive with sign: {positive_number:+d}")
print(f"Negative with sign: {negative_number:-d}")
print(f"Positive with space: {positive_number: d}")

Positive with sign: +42
Negative with sign: -42
Positive with space:  42

## 5. Percentage Formatting
To format a number as a percentage, use the % format specifier. This multiplies the value by 100 and appends a % symbol

In [ ]:
value = 0.125
print(f"Percentage: {value:.2%}")

Percentage: 12.50%

## 6. Comma as Thousants seperator
You can format numbers with commas as thousands seperator using the ' , ' specifier.

In [ ]:
large_number = 1234567890
print(f"With Commas: {large_number:,}")

With Commas: 1,234,567,890

## 8. Date and Time Formatting
Python's datetime module allows formatting dates and times. The strftime method is used to format datetime objects into readable strings.

In [ ]:
from datetime import datetime

now = datetime.now()
print(f"Current Date and Time: {now:'%Y-%m-%d %H:%M:%S'}")

Current Date and Time: '2025-06-09 14:52:25'

## Common date-time format codes:
- %Y : Year with century
- %m : Month (2 digits)
- %d : Day of the month (2 digits)
- %H : Hour (24 - hout clock)
- %M : Minute
- %S : Second

## 9. strftime for Date and Time Formatting
The strftime() method in Python is used to convert a datetime object into a string based on a specific format. It allows you to create custom date and time representations that fit your needs. This is especially useful when working with timestamps, logging, or presenting dates in different formats.

To use strftime, you first need to import the datetime module and create a datetime object (or use datetime.now() for the current date and time).

## Syntax:

datetime_object.strftime(format_string)

### Where:
- datetime_object: A datetime object (eg. datetime.now() or any datetime object you create).
- format_string: A string that contains format codes that specify how the date and time should be displayed.

In [ ]:
from datetime import datetime
now = datetime.now()

# Format: Day, Month Day, Year
print(now.strftime("%A, %B %d, %Y"))

Thursday, June 12, 2025

## Control Flow

### Coditional Statements (if, elif, else)

Outline:

1. Introduction to conditional Statements
2. if Statement
3. else Statement
4. elif Statement
5. Nested conditional statements
6. Practical Examples
7. Common Errors and best Practices

In [ ]:
## if statement

age = 27

if age >= 18:
  print("You are allowed to vote in the elections")
else:
  print("You are not allowed to vote in the elections")

You are allowed to vote in the elections

In [ ]:
## elif
## The elif statement allows you to check multiple conditions. It stands for "else if"

age = 27

if age < 13:
  print("You are a child")
elif age < 18:
  print("You are a teenager")
else:
  print("You are an adult")

You are an adult

In [ ]:
## Nested Conditional Statements:

# You can place one or more if, elif, or else statements inside another if, elif, or else

## Number even, odd, nagative

num = int(input("Enter the number:"))

if num >0:
  print("The number is positive")
  if num%2==0:
    print("The number is even")
  else:
    print("The number is odd")
else:
  print("The number is zero or negative")

Enter the number:34
The number is positive
The number is even

In [ ]:
## Practical Examples

## Determine if a year is a leap year using nested condition statement

year = int(input("Enter the year:"))

if year%4==0:
  if year%100==0:
    if year%400==0:
      print("The year is a leap year")
    else:
      print("The year is not a leap year")
  else:
    print("The year is a leap year")
else:
  print("The year is not a leap year")

Enter the year:2027
The year is not a leap year

In [ ]:
# Employee bonus calculation

# Take user input
years_of_service = int(input("Enter your years of service: "))
performance_rating = float(input("Enter performance rating (1.0 to 5.0): "))

# Determine bonus percentage
if performance_rating >= 4.5:
  if years_of_service > 10:
    bonus_percentage = 20
  elif years_of_service > 5:
    bonus_percentage = 15
  else:
    bonus_percentage = 10
elif performance_rating >= 3.5:
  if years_of_service > 10:
    bonus_percentage = 15
  elif years_of_service > 5:
    bonus_percentage = 10
  else:
    bonus_percentage = 5
else:
  bonus_percentage = 0

# Calculate bonus amount
salary = float(input("Enter current salary: "))
bonus_amount = salary * bonus_percentage / 100

print("Bonus amount: ${:.2f}".format(bonus_amount))

# or

## print(f"Bonus amount: ${bonus_amount:.2f}")

Enter your years of service: 10
Enter performance rating (1.0 to 5.0): 4.7
Enter current salary: 1000
Bonus amount: $150.00

# Loops

Outline:
1. Introduction to Loops
2. for loop
  - Iterating over a range
  - Iterating over a string
3. While Loop
4. Loop control statements
  - Break
  - Continue
  - Pass
5. Nested loops
6. Practical examples and common errors

In [ ]:
for i in range(5):
  print("Your Name")

Your Name
Your Name
Your Name
Your Name
Your Name

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

## Range
In Python, the 'range()' function generates a sequence of numbers, often used in loops for iteration. By default, it creates numbers starting from 0 upto but not including a specified stop value. You can also reverse the sequence with 'reversed()'. If you need to count backwards, then you can use a negative step, like 'range(start, stop, -1)', which counts down from start to stop.


A range is a Python object that represents an interval of integers. Usually, the numbers are consecutive, but you can also specify that you want to space them out.

In [ ]:
list(reversed(range(0,10,2)))

[8, 6, 4, 2, 0]

In [ ]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
list(reversed(range(0,10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
r = range(3)
print(type(r))

<class 'range'>

In Python, you can create loops using two different constructs:
  1. A for loop, or a definite loop, repeats an operation for each element in an existing sequence.
  2. A while loop, or an indefinite loop, repeats an operation until condition is fulfilled.

In [21]:
fruits = ['apple', 'banana', 'cherry', 'dragonfruit']
for i in fruits:
  print(i)

apple
banana
cherry
dragonfruit

In [22]:
fruits = ['apple', 'banana', 'cherry', 'dragonfruit']
for fruit in fruits:
  print(fruit)

apple
banana
cherry
dragonfruit

In [23]:
for i in range(10,-1,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1
0

In [25]:
# strings

name = "Kruthi Tripuraneni"

for i in name:
  print(i)

K
r
u
t
h
i

T
r
i
p
u
r
a
n
e
n
i

In [ ]:
## While loop

## the while loop continues to execute as long as the condition is True.

# while condition
## st1
## st2

In [26]:
count = 0

while count < 5:
  print(count)
  count = count + 1

0
1
2
3
4

## Break:
the break statements skips the loop immediately

## Continue:
the continue statement skips the current iteration and continues with the next.

## Pass:
its like a place holder. the pass statement is a null operation, it does nothing.

it is used when to remove an indentation error in loops

In [27]:
## loop control statements
## the break statement exits the loop prematurely

## break statement

for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [28]:
## continue statement

for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [29]:
for i in range(10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [30]:
## pass

for i in range(5):
  if i == 3:
    pass
  print(i)

0
1
2
3
4

In [34]:
# nested loops
# a loop inside a loop

for i in range(3):
  for j in range(2):
    print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [35]:
for i in range(3):
  for j in range(5):
    print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:0 and j:3
i:0 and j:4
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:1 and j:3
i:1 and j:4
i:2 and j:0
i:2 and j:1
i:2 and j:2
i:2 and j:3
i:2 and j:4

# Homework

In [37]:
# Calculate the sum of the first N natural numbers using a while and for loop

n = int(input("Enter the value of n:"))
## while loop

sum = 0
i = 1
while i <= n:
  sum = sum + i
  i = i + 1
print("The sum of the first", n, "natural numbers is", sum)

## for loop

sum = 0
for i in range(1, n+1):
  sum = sum + i
print("The sum of the first", n, "natural numbers is", sum)

Enter the value of n:56
The sum of the first 56 natural numbers is 1596
The sum of the first 56 natural numbers is 1596