<a href="https://colab.research.google.com/github/Kruthi-trip/Data_Engineering_2025/blob/main/Assignments/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics
##Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

# 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [1]:
print("Hello, World!")

Hello, World!

**Question 2:** Write a Python program that takes a user input and prints it.

In [3]:
name = input("Enter your name: ")
print("My name is ", name)

Enter your name: Kruthi
My name is  Kruthi

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [6]:
number = int(input("Enter an integer: "))
if number > 0:
  print("It is a positive number")
elif number < 0:
  print("It is a negative number")
else:
  print("It is zero")

Enter an integer: -56
It is a negative number

**Question 4:** Write a Python program to find the largest of three numbers.

In [7]:
lst1 = [34,54,23]
print(max(lst1))

54

**Question 5:** Write a Python program to calculate the factorial of a number.

In [11]:
fact_num = int(input("Enter a positive number: "))
factorial = 1
for i in range(1,fact_num + 1):
       factorial = factorial*i
print("The factorial of",fact_num,"is",factorial)

Enter a positive number: 12
The factorial of 12 is 479001600

# 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [12]:
var1 = 24
var2 = 3.14
var3 = "Kruthi"
var4 = False
print(var1,type(var1))
print(var2,type(var2))
print(var3,type(var3))
print(var4,type(var4))

24 <class 'int'>
3.14 <class 'float'>
Kruthi <class 'str'>
False <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [13]:
x = 24
y = 27
x,y = y,x

print(x,y)

27 24

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [19]:
def celsius_to_fahrenheit(temp):
    fahrenheit = (temp * 9/5) + 32
    return (fahrenheit,"Fahrenheit")

celsius_to_fahrenheit(36)

(96.8, 'Fahrenheit')

**Question 9:** Write a Python program to concatenate two strings.

In [20]:
str1 = "Kruthi"
str2 = "Tripuraneni"

print(str1, str2)

Kruthi Tripuraneni

**Question 10:** Write a Python program to check if a variable is of a specific data type.

# 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [21]:
a = 3
b = 7
print(f"Addition: {a + b}")
print(f"Subtraction: {a - b}")
print(f"Multiplication: {a * b}")
print(f"Division: {a / b}")

Addition: 10
Subtraction: -4
Multiplication: 21
Division: 0.42857142857142855

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [31]:
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")
if num1==num2:
  print("They numbers are same")
else :
  print("They numbers are not same")

if num1>num2:
  print("First number is greater")
else:
  print("Second number is greater")

Enter the first number: 5
Enter the second number: 5
They numbers are same
Second number is greater